.message-wall {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .message-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
  }
  
  .message-form-container {
    padding: 8px;
    background-color: var(--background);
    border-top: 1px solid var(--border);
  }
  
  @media (min-width: 640px) {
    .message-form-container {
      padding: 16px;
    }
  }

